[Unit]
Description=dockerbuild
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Environment="PATH=/opt/puppetlabs/puppet/bin/:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:$PATH"
Environment="HOME=/root"
Environment="LANG=en_US.UTF-8"
ExecStart=/opt/puppet-dockerbuild/dockerbuild.rb

[Install]
WantedBy=multi-user.target
