<html>
  <head>
    <title>Puppet Dockerbuild - command completed</title>
  </head>
  <body>
    <h1>Puppet Dockerbuild - command completed</h1>
    Command completed:  
    <p>
      <pre>
<%= @command_output %>
      </pre>
    </p>
    <p>
      <a href="/">Main page</a>
    </p>
  </body>
</html>
