<html>
  <head>
    <title>Puppet Dockerbuild - Index</title>
  </head>
  <body>
    <h1>Puppet Dockerbuild - Index</h1>
    <p>
        <a href="/status">Status</a> <br/>
    </p>
    <p>
        <a href="/settings">Settings</a> <br/>
    </p>      
    <p>
      <a href="/new_image">New Image</a> <br/>
      <!-- <a href="/refresh_puppet_code">Refresh Puppet Code</a></br> -->
    </p>
  </body>
</html>
