<html>
  <head>
    <title>Dockerbuild - New Image</title>
  </head>
  <body>
    <h1>Dockerbuild - New Image</h1>
    <i>Where were going there are no command lines :D</i>
    <form action="/new_image" method="POST">
      <table>
        <tr>
          <td>Base Image</td>
          <td><input type="text" name="base_image" value="centos"/></td>
          <td>Docker base image to start building our new image from</td>
        </tr>
        <tr>
          <td>Base Image Tag</td>
          <td><input type="text" name="base_image_tag" value="latest"/></td>
          <td>Tagged version of Base Image to use</td>
        </tr>
        <tr>
          <td>Environment</td>
          <td>
          <select name="environment">
            <% @environments.each do |environment| %>
              <option value="<%= environment %>"><%= environment %></option>
            <% end %>
          </select>
          <td>Puppet environment to use.  Normally 'production'</td>
        </tr>
        <tr>
          <td>Role Class</td>
          <td><input type="text" name="role_class"/></td>
          <td>Puppet role class to apply inside the image we are building</td>
        </tr>
        <tr>
          <td>Container Hostname</td>
          <td><input type="text" name="container_hostname" value="localhost"/></td>
          <td>Hostname to use during building</td>
        </tr>
        <tr>
          <td>Output Image</td>
          <td><input type="text" name="output_image" /></td>
          <td>Name of the image to create</td>
        </tr>
        <tr>
          <td>Output Tag</td>
          <td><input type="text" name="output_tag" value="0"/></td>
          <td>Tag to apply to the image that gets created</td>
        </tr>
        <tr>
          <td>Target OS</td>
          <td><input type="text" name="target_os" value="redhat" /></td>
          <td>We will attempt to guess what OS the image is by looking at its image name.  If we get it wrong you can override it here.  Valid choices map to the $osfamily puppet fact: 'redhat' or 'debian'</td>
        </tr>
        <tr>
          <td>Debug</td>
          <td><input type="checkbox" name="debug" value="debug"/></td>
          <td>Enable debug output during build?</td>
        </tr>
      </table>
      <input type="submit" name="submit" value="submit">
    </form>
  <body>
</html>
